@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

.wrapper {
  display: flex;
  width: 90%;
  margin: 0% auto; }

html {
  font-size: 62.5%; }

body {
  color: #9095a7;
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  color: #242d52; }

.hero--heading {
  font-size: 5.4rem;
  line-height: 1.4;
  margin-bottom: 3.5rem; }

.hero p {
  margin-bottom: 3.5rem; }

.number {
  background-color: #f25f3a;
  color: #fafafa;
  padding: 1.6rem 3.2rem;
  font-weight: 500;
  border-radius: 10rem;
  margin-right: 2.5rem; }

.name {
  color: #242d52;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem; }

.cta {
  background-color: #f25f3a;
  border-radius: 10rem;
  color: #fafafa;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 5px 2px rgba(242, 95, 58, 0.4);
  transition: all .3s ease-in-out; }
  .cta:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 5px 5px 2px rgba(242, 95, 58, 0.65); }

.footer {
  background-color: #242d52;
  padding: 7.5rem 0rem; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .footer__item {
    width: 100%; }
    .footer__item:not(:last-child) {
      margin-bottom: 5rem; }
    .footer__item--2 {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start; }
      .footer__item--2 ul {
        list-style: none; }
      .footer__item--2 a {
        color: #fafafa;
        text-transform: capitalize; }
    .footer__item--3 ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none; }
    .footer__item--3 a {
      color: #fafafa;
      font-size: 2.4rem; }
    .footer__item--4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .footer__item--4 .logo {
        margin-bottom: 2.5rem; }

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

input[type="email"] {
  width: 75%;
  padding: 1.6rem;
  border-radius: 10rem;
  border: none;
  outline: 0; }

button[type="submit"] {
  background-color: #f25f3a;
  color: #fafafa;
  padding: 1.6rem 3.2rem;
  border: none;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10rem; }

.grid {
  display: grid;
  width: 100%; }

.manage .grid {
  grid-template-columns: 1fr;
  gap: 5rem; }
  .manage .grid__item__top {
    display: flex;
    align-items: center;
    background-color: #ffefeb;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    margin-bottom: 3.5rem; }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  padding: 2.5rem 0rem;
  width: 100%; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .menu {
    height: 1.9rem;
    width: 3.5rem;
    cursor: pointer; }
    .header .menu__line {
      height: .3rem;
      width: 100%;
      background-color: #242d52; }
      .header .menu__line:not(:last-child) {
        margin-bottom: .5rem; }

.hero {
  height: auto;
  width: 100%;
  padding: 7.5rem 0rem;
  position: relative;
  overflow: hidden; }
  .hero .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1; }
  .hero svg {
    position: absolute;
    top: -35%;
    right: -90%;
    z-index: -1; }
  .hero__img {
    height: 50%;
    width: 100%;
    margin-bottom: 3.5rem; }
    .hero__img img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .hero__content {
    text-align: center; }

.manage {
  padding: 7.5rem 0rem; }

.testimonial {
  padding: 7.5rem 0rem; }
  .testimonial .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .testimonial .card__container {
    margin: 10rem auto;
    width: 90%; }
    .testimonial .card__container .card {
      background-color: #fafafa;
      padding: 10rem 3.5rem;
      text-align: center;
      position: relative;
      width: 100%;
      cursor: grab;
      margin-bottom: 5rem; }
    .testimonial .card__container img {
      height: 10rem;
      width: 10rem;
      position: absolute;
      top: -5rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5; }
  .testimonial .cta {
    margin-top: 5rem; }

.slick-dots li {
  background-color: transparent;
  border: 1px solid #f25f3a;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 0;
  overflow: hidden; }

.slick-dots li * button {
  height: 20px;
  width: 20px;
  border-radius: 50%; }

.slick-dots li.slick-active button {
  background-color: #f25f3a;
  height: 100%;
  width: 100%;
  transform: scale(1.5);
  border: 1px solid #f25f3a;
  border-radius: 50%;
  padding: 0; }

.simplify {
  background-color: #f25f3a;
  padding: 7.5rem 0rem;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .simplify svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%); }
  .simplify h1 {
    color: #fafafa;
    font-size: 5.4rem;
    margin-bottom: 5rem; }
  .simplify .cta {
    background-color: #fafafa;
    color: #f25f3a; }
