@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

.wrapper {
  display: flex;
  width: 90%;
  margin: 0% auto; }

html {
  font-size: 62.5%; }

body {
  color: #9095a7;
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  color: #242d52; }

.hero--heading {
  font-size: 5.4rem;
  line-height: 1.4;
  margin-bottom: 3.5rem; }

.hero p {
  margin-bottom: 3.5rem; }

.number {
  background-color: #f25f3a;
  color: #fafafa;
  padding: 1.6rem 3.2rem;
  font-weight: 500;
  border-radius: 10rem;
  margin-right: 2.5rem; }

.cta {
  background-color: #f25f3a;
  border-radius: 10rem;
  color: #fafafa;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 5px 2px rgba(242, 95, 58, 0.4);
  transition: all .3s ease-in-out; }
  .cta:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 5px 5px 2px rgba(242, 95, 58, 0.65); }

.grid {
  display: grid;
  width: 100%; }

.manage .grid {
  grid-template-columns: 1fr;
  gap: 5rem; }
  .manage .grid__item__top {
    display: flex;
    align-items: center;
    background-color: #ffefeb;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    margin-bottom: 3.5rem; }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  padding: 2.5rem 0rem;
  width: 100%; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .menu {
    height: 1.9rem;
    width: 3.5rem;
    cursor: pointer; }
    .header .menu__line {
      height: .3rem;
      width: 100%;
      background-color: #242d52; }
      .header .menu__line:not(:last-child) {
        margin-bottom: .5rem; }

.hero {
  height: auto;
  width: 100%;
  padding: 7.5rem 0rem;
  position: relative;
  overflow: hidden; }
  .hero .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1; }
  .hero svg {
    position: absolute;
    top: -35%;
    right: -90%;
    z-index: -1; }
  .hero__img {
    height: 50%;
    width: 100%;
    margin-bottom: 3.5rem; }
    .hero__img img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .hero__content {
    text-align: center; }

.manage {
  padding: 7.5rem 0rem; }
