@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    color: $dark-grayish-blue;
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: $dark-blue;
}

.hero {
    &--heading {
        font-size: 5.4rem;
        line-height: 1.4;
        margin-bottom: 3.5rem;
    }

    & p {
        margin-bottom: 3.5rem;
    }
}

.number {
    background-color: $bright-red;
    color: $vary-light-gray;
    padding: 1.6rem 3.2rem;
    font-weight: 500;
    border-radius: 10rem;
    margin-right: 2.5rem;
}

.name {
    color: $dark-blue;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}