.hero {
    height: auto;
    width: 100%;
    padding: $padding-large;
    position: relative;
    overflow: hidden;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    & svg {
        position: absolute;
        top: -35%;
        right: -90%;
        z-index: -1;
    }

    &__img {
        height: 50%;
        width: 100%;
        margin-bottom: 3.5rem;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__content {
        text-align: center;
    }
}

.manage {
    padding: $padding-large;
}

.testimonial {
    padding: $padding-large;
    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    & .card__container {
        margin: 10rem auto;
        width: 90%;
        
        & .card {
            background-color: $vary-light-gray;
            padding: 10rem 3.5rem;
            text-align: center;
            position: relative;
            width: 100%;
            cursor: grab;
            margin-bottom: 5rem;
        }

        & img {
            height: 10rem;
            width: 10rem;
            position: absolute;
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;
        }
    }

    & .cta {
        margin-top: 5rem;
    }
}

.slick-dots li {
    background-color: transparent;
    border: 1px solid $bright-red;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
}

.slick-dots li * button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: $bright-red;
    height: 100%;
    width: 100%;
    transform: scale(1.5);
    border: 1px solid $bright-red;
    border-radius: 50%;
    padding: 0;
}